<h1>Novi zahtjev</h1>
<div id="prijedlog">
  <div class="form-item">
    <label for="naziv">Naziv:</label>
    <input
      placeholder="Naziv"
      class="form-input"
      type="text"
      name="naziv"
      id="naziv"
      ng-model="naziv"
    />
  </div>
  <small style="color: red" ng-if="nazivErr"> Naziv je obavezan </small>

  <div class="form-item">
    <label for="naziv">Opis:</label>
    <textarea name="opis" id="opis" ng-model="opis"></textarea>
  </div>
  <small style="color: red" ng-if="opisErr"> Opis je obavezan </small>

  <div class="form-item">
    <label for="grad">Grad:</label>

    <select name="grad" id="grad" style="width: 40vw">
      <option
        ng-repeat="grad in gradovi track by $index"
        value="{{grad.grad_id}}"
      >
        {{grad.naziv}}
      </option>
    </select>
  </div>
  <small style="color: red" ng-if="gradErr"> Grad je obavezan </small>

  <div class="form-item">
    <label for="ime">Godina:</label>
    <input
      placeholder="Godina"
      class="form-input"
      type="number"
      name="godina"
      id="godina"
      ng-model="godina"
    />
  </div>
  <small style="color: red" ng-if="godinaErr"> Godina je obavezna </small>

  <div class="form-item">
    <button class="form-input" type="submit" value="Submit" ng-click="send()">
      Pošalji
    </button>
  </div>
</div>

<h1>Popis prijedloga</h1>
<table>
  <thead>
    <tr>
      <th>Naziv</th>
      <th>Opis</th>
      <th>Predložak</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="prijedlog in prijedlozi track by $index">
      <td>{{ prijedlog.naziv }}</td>
      <td style="width: 30vw">{{ prijedlog.opis }}</td>
      <td>
        <a
          href="javascript:void(0)"
          ng-click="predlozak(prijedlog.neregistrirani_zahtjev_id)"
          >Iskoristi</a
        >
      </td>
    </tr>
  </tbody>
</table>

<h1 ng-if="listaZahtjeva.length > 0">Popis zahtjeva</h1>
<table ng-if="listaZahtjeva.length > 0">
  <thead>
    <tr>
      <th>Naziv</th>
      <th>Opis</th>
      <th>Godina</th>
      <th>Status</th>
      <th>-</th>
      <th>-</th>
    </tr>
  </thead>
  <tbody>
    <tr
      ng-repeat="zahtjev in listaZahtjeva track by $index"
      ng-class="{ 'neobradjeno': zahtjev.status == 'na čekanju' }"
    >
      <td>{{ zahtjev.naziv }}</td>
      <td style="width: 30vw">{{ zahtjev.opis }}</td>
      <td>{{ zahtjev.godina }}</td>
      <td>{{ zahtjev.status }}</td>
      <td>
        <a
          href="javascript:void(0)"
          ng-click="promijeniStatus(zahtjev.registrirani_zahtjev_id, 'potvrđeno')"
          >Odobri</a
        >
      </td>
      <td>
        <a
          href="javascript:void(0)"
          ng-click="promijeniStatus(zahtjev.registrirani_zahtjev_id, 'odbijeno')"
          >Odbij</a
        >
      </td>
    </tr>
  </tbody>
</table>
