<div id="registration">
  <div class="form-item">
    <label for="ime">Ime:</label>
    <input
      placeholder="Ime"
      class="form-input"
      type="text"
      name="ime"
      id="ime"
      ng-model="firstName"
      ng-keyup="validateFirstName()"
    />
  </div>
  <small style="color: red"> {{ firstNameError }} </small>
  <div class="form-item">
    <label for="prezime">Prezime:</label>
    <input
      placeholder="Prezime"
      class="form-input"
      type="text"
      name="prezime"
      id="prezime"
      ng-model="secondName"
      ng-keyup="validateSecondName()"
    />
  </div>
  <small style="color: red"> {{ secondNameError }} </small>
  <div class="form-item">
    <label for="korisnicko_ime">Korisničko ime:</label>
    <input
      placeholder="Korisničko ime"
      class="form-input"
      type="text"
      name="korisnicko_ime"
      id="korisnicko_ime"
      ng-model="userName"
      ng-keyup="validateUsername()"
    />
  </div>
  <small style="color: red"> {{ userNameError }} </small>
  <div class="form-item">
    <label for="email">Email:</label>
    <input
      placeholder="Email"
      class="form-input"
      type="text"
      name="email"
      id="email"
      ng-model="email"
      ng-keyup="validateEmail()"
    />
  </div>
  <small style="color: red"> {{ emailError }} </small>
  <div class="form-item">
    <label for="lozinka">Lozinka:</label>
    <input
      placeholder="..."
      class="form-input"
      type="password"
      name="lozinka"
      id="lozinka"
      ng-model="password"
      ng-keyup="validatePassword()"
    />
  </div>
  <small style="color: red"> {{ passwordError }} </small>
  <div class="form-item">
    <label for="lozinka-ponovi">Ponovite lozinku:</label>
    <input
      ng-keyup="validatePasswordRepeat()"
      placeholder="..."
      class="form-input"
      type="password"
      name="lozinka-ponovi"
      id="lozinka-ponovi"
      ng-model="passwordRepeat"
    />
    <br />
  </div>
  <small style="color: red"> {{ errorMsg }} </small>

  <div class="form-item">
    <button
      class="form-input"
      type="submit"
      value="Submit"
      ng-click="register()"
    >
      Registracija
    </button>
  </div>
</div>
