<style>
  footer {
    height: 50px;
    background-color: #60b979;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer img {
    margin-right: 20px;
    cursor: pointer;
  }
  footer p {
    margin-left: 20px;
  }

  #accessibility-modal {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    display: none;
  }

  #accessibility-modal span {
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 4px 2px 6px grey;
    margin-top: 10px;
    display: block;
    cursor: pointer;
  }
</style>

<footer ng-controller="indexController">
  <div id="accessibility-modal">
    <span ng-click="toggleAccessibilityAttr('openDyslexia')"
      >OpenDyslexia font
      <span ng-if="accessibility.openDyslexia">&check;</span></span
    >
    <span ng-click="toggleAccessibilityAttr('contrast')"
      >Crno-bijeli prikaz<span ng-if="accessibility.contrast"
        >&check;</span
      ></span
    >
    <span ng-click="toggleAccessibilityAttr('fontSize')"
      >Povećaj veličinu fonta<span ng-if="accessibility.fontSize"
        >&check;</span
      ></span
    >
    <span ng-click="toggleAccessibilityAttr('wordSpacing')"
      >Povećaj razmak između riječi<span ng-if="accessibility.wordSpacing"
        >&check;</span
      ></span
    >
    <span ng-click="toggleAccessibilityAttr('letterSpacing')"
      >Povećaj razmak između slova<span ng-if="accessibility.letterSpacing"
        >&check;</span
      ></span
    >
    <span ng-click="toggleAccessibilityAttr('lineHeight')"
      >Povećaj razmak između linija<span ng-if="accessibility.lineHeight"
        >&check;</span
      ></span
    >
  </div>
  <img
    id="accessibility-icon"
    height="30"
    src="assets/images/accessibility.png"
    alt="accessibility-icon"
    ng-click="accessibilityToggle()"
  />
  <p>Dario Široki, WebDiP 2020./2021.</p>
</footer>
