<style>
  header {
    padding: 40px 20px 40px 20px;
    overflow: hidden;
    position: relative;
  }

  header a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline;
  }

  .active {
    background-color: #60b979;
    padding: 20px;
    border-radius: 100px;
  }
</style>

<header class="topnav" ng-init="display = 'none';">
  <a href="#!" ng-class="isActive('/')">Početna</a>
  <span style="float: right">
    <a
      href="#!galerija"
      ng-class="isActive('/galerija')"
      ng-if="isRegisteredUser() || isAdmin()"
      >Galerija</a
    >
    <a href="#!znamenitosti" ng-class="isActive('/znamenitosti')"
      >Znamenitosti</a
    >
    <a href="#!prijedlog" ng-class="isActive('/prijedlog')">Prijedlog</a>
    <a
      href="#!zahtjev"
      ng-class="isActive('/zahtjevi')"
      ng-if="isRegisteredUser() || isAdmin()"
      >Zahtjev</a
    >
    <a href="#!prijava" ng-class="isActive('/prijava')" ng-if="!isLoggedIn()"
      >Prijava</a
    >
    <a href="javascript:void(0)" ng-if="isLoggedIn()" ng-click="logOut()"
      >Odjava</a
    >
    <a
      href="#!registracija"
      ng-class="isActive('/registracija')"
      ng-if="!isLoggedIn()"
      >Registracija</a
    >
  </span>
</header>
