<div class="container">
  <h3>Lista starih backupova</h3>
  <p ng-click="pageTour.start()" class="link-alike">Pomoć</p>
  <table>
    <thead>
      <tr>
        <th>Datoteka</th>
        <th id="vrati-backup">-</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="backup in backups track by $index">
        <td>{{ backup }}</td>
        <td>
          <a href="javascript:void(0)" ng-click="vratiBackup(backup)">Vrati</a>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <button ng-click="napraviBackup()" id="napravi-backup">
    Napravi novi backup
  </button>
</div>
