html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer-fix {
  margin-top: auto;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: OpenDyslexic;
  src: url(assets/fonts/OpenDyslexic-Regular.otf);
}

.dyslexia * {
  font-family: OpenDyslexic;
}

.contrast * {
  color: white !important;
  background-color: black !important;
}

.increased-font-size * {
  font-size: 1.5rem;
}

.increased-line-height * {
  line-height: 30px;
}

.increased-letter-spacing * {
  letter-spacing: 3px;
}

.increased-word-spacing * {
  word-spacing: 30px;
}

.tour-box {
  position: absolute;
  background-color: gray;
  padding: 20px;
  color: white;
  border-radius: 20px;
}

.link-alike {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
