#naslovna {
  background-image: url("../../assets/images/naslovna.jpeg");
  height: 60vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#naslovna h1 {
  color: white;
  font-size: xxx-large;
  margin: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}
