#naslovna {
  background-image: url("../../assets/images/naslovna.jpeg");
  height: 60vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#naslovna h1 {
  color: white;
  font-size: xxx-large;
  margin: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

table {
  align-self: center;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  overflow-wrap: anywhere;
  background-color: rgba(96, 185, 121, 0.5);
  border: 2px solid #fff;
  color: #000;
  text-align: center;
  padding: 5px;
}

table td {
  border-top: 1px solid gray;
  padding: 5px;
}

table thead {
  border-bottom: 1px solid gray;
}
