<h1 style="text-align: center">Prijedlog za dodavanje nove znamenitosti</h1>
<div id="prijedlog">
  <div class="form-item">
    <label for="naziv">Naziv:</label>
    <input
      placeholder="Naziv"
      class="form-input"
      type="text"
      name="naziv"
      id="naziv"
      ng-model="naziv"
    />
  </div>
  <small style="color: red" ng-if="nazivErr"> Naziv je obavezan </small>

  <div class="form-item">
    <label for="naziv">Opis:</label>
    <textarea name="opis" id="opis" ng-model="opis"></textarea>
  </div>
  <small style="color: red" ng-if="opisErr"> Opis je obavezan </small>

  <div class="form-item">
    <label for="grad">Grad:</label>

    <select name="grad" id="grad" style="width: 40vw">
      <option
        ng-repeat="grad in gradovi track by $index"
        value="{{grad.grad_id}}"
      >
        {{grad.naziv}}
      </option>
    </select>
  </div>
  <small style="color: red" ng-if="gradErr"> Grad je obavezan </small>

  <div class="form-item">
    <label for="ime">Ime:</label>
    <input
      placeholder="Ime"
      class="form-input"
      type="text"
      name="ime"
      id="ime"
      ng-model="ime"
    />
  </div>

  <div class="form-item">
    <label for="prezime">Prezime:</label>
    <input
      placeholder="Prezime"
      class="form-input"
      type="text"
      name="prezime"
      id="prezime"
      ng-model="prezime"
    />
  </div>

  <div class="form-item">
    <label for="nadimak">Nadimak:</label>
    <input
      placeholder="Nadimak"
      class="form-input"
      type="text"
      name="nadimak"
      id="nadimak"
      ng-model="nadimak"
    />
  </div>

  <div class="form-item">
    <button class="form-input" type="submit" value="Submit" ng-click="send()">
      Pošalji
    </button>
  </div>
</div>
