<div id="login">
  <div class="form-item">
    <label for="email">Email:</label>
    <input
      placeholder="Email"
      class="form-input"
      type="text"
      name="email"
      id="email"
      ng-model="email"
    />
  </div>
  <div class="form-item">
    <label for="lozinka">Lozinka:</label>
    <input
      placeholder="Password"
      class="form-input"
      type="password"
      name="lozinka"
      id="lozinka"
      ng-model="password"
    />
  </div>
  <div
    class="form-item"
    ng-style="{'display': requireActivationCode ? 'block':'none'}"
  >
    <label for="authCode">Aktivacijski kod:</label>
    <input
      placeholder="Aktivacijski kod"
      class="form-input"
      type="text"
      name="authCode"
      id="authCode"
      ng-model="activationCode"
    />
  </div>
  <small style="color: red"> {{ errorMsg }} </small>

  <div class="form-item">
    <button class="form-input" type="submit" value="Submit" ng-click="login()">
      Prijava
    </button>
  </div>
</div>
