<div id="login">
  <div class="form-item">
    <label for="korime">Korisničko ime:</label>
    <input
      placeholder="Korisničko ime"
      class="form-input"
      type="text"
      name="korime"
      id="korime"
      ng-model="korime"
    />
  </div>
  <div class="form-item">
    <label for="lozinka">Lozinka:</label>
    <input
      placeholder="Password"
      class="form-input"
      type="password"
      name="lozinka"
      id="lozinka"
      ng-model="password"
    />
  </div>
  <div
    class="form-item"
    ng-style="{'display': requireActivationCode ? 'block':'none'}"
  >
    <label for="authCode">Aktivacijski kod:</label>
    <input
      placeholder="Aktivacijski kod"
      class="form-input"
      type="text"
      name="authCode"
      id="authCode"
      ng-model="activationCode"
    />
  </div>
  <div class="form-item">
    <label for="zapamtiMe">Zapamti me</label>
    <input
      type="checkbox"
      id="zapamtiMe"
      name="zapamtiMe"
      ng-model="zapamtiMe"
    />
  </div>

  <small style="color: red"> {{ errorMsg }} </small>

  <small style="color: blue; cursor: pointer" ng-click="forgotPw()"
    >Zaboravljena lozinka</small
  >

  <div class="form-item">
    <button class="form-input" type="submit" value="Submit" ng-click="login()">
      Prijava
    </button>
  </div>
</div>
